header {
    background-color: #FE5E01;
    text-align: center;
}

ul, li, a {
    color: #FE5E01;
}

#contenido_resenyas {
    margin-left: 15%;
    float: left;
}

#contenido_resenyas h2{
    text-align: center;
}

#contenido_resenyas article img {
    float: left;
    margin-right: 5%;
}

#seccion-imagen {
    display: flex;
    flex-direction: column;
}

#seccion-descripcion {
    margin-left: 5%;
}

article {
    display: flex;
    flex-direction: row;
}